.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: rgba(var(--primary-color));
  border-bottom-color: rgba(var(--primary-color));
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
