.overlay {
  background-color: rgba(var(--secondary-color), 0.4);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 4px 30px rgba(var(--secondary-color), 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-content {
  width: min(35em, 100%);
  padding: 0;
  margin: 0;
}
