.payment-container {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.8em 1em;
  border-radius: 1em;
}

.event-info-card {
  width: min(35em, 100%);
}

.event-info-in-checkout {
  border: 1px solid rgba(var(--secondary-color), 0.3);
}

@media only screen and (max-width: 734px) {
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }
}
