/* .banner-container {
    position: relative;
    padding: 10em 0;
}

.banner-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../../../assets/ccchaos.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-size: clamp(4rem, 5vw, 7rem);
    text-align: center;
    line-height: 1.4;
    font-weight: lighter;
}

.btn {
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: rgb(var(--accent-color));
    padding: 0.5em 1em;
    color: rgb(var(--primary-color));
    cursor: pointer;
}

.hero-cta {
    margin-top: 1.2em;
    border-top-right-radius: var(--btn-border-radius);
    border-bottom-right-radius: var(--btn-border-radius);
    border-bottom-left-radius: var(--btn-border-radius);
    padding: 0.5em 1.2em;
} */

.header {
    border-bottom-left-radius: 3em;
}

.banner-container {
    /* background-color: rgb(var(--secondary-color)); */
    color: rgb(var(--primary-color));
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

.banner-title {
    font-size: clamp(5rem, 5vw, 7rem);
    line-height: 1;
}

.hero-img {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    top: 0;
    right: 0%;
}

#Layer_1 {
    width: 23.5em;
}

/* third */
#Layer_1 path:nth-child(1) {
    stroke-dasharray: 704;
    stroke-dashoffset: 704;
    animation: dash 3s ease forwards 0.6s, fill 0.5s ease forwards var(--animation-delay);
}

/* forth */
#Layer_1 path:nth-child(2) {
    stroke-dasharray: 747;
    stroke-dashoffset: 747;
    animation: dash 3s ease forwards 0.9s, fill 0.5s ease forwards var(--animation-delay);
}

/* sixth */
#Layer_1 path:nth-child(3) {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: dash 3s ease forwards 1.5s, fill 0.5s ease forwards var(--animation-delay);
}

/* fifth */
#Layer_1 path:nth-child(4) {
    stroke-dasharray: 542;
    stroke-dashoffset: 542;
    animation: dash 3s ease forwards 1.2s, fill 0.5s ease forwards var(--animation-delay);
}

/* second */
#Layer_1 path:nth-child(5) {
    stroke-dasharray: 747;
    stroke-dashoffset: 747;
    animation: dash 3s ease forwards 0.3s, fill 0.5s ease forwards var(--animation-delay);
}

/* first */
#Layer_1 path:nth-child(6) {
    stroke-dasharray: 274;
    stroke-dashoffset: 274;
    animation: dash 3s ease forwards, fill 0.5s ease forwards var(--animation-delay);
    ;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: rgb(var(--accent-color));
    }
}